* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 250px;
  min-height: 300px;
  padding: 20px;

}
.grid-item-2w {
  width: 500px;
   min-height: 300px;
}
.grid-item-2h {
  width: 500px;
   min-height: 600px;


}

.grid-item {
  float: left;
  border: 1px solid #222;
}

.grid-item img {
  display: block;
  width: 100%;
}
@media (max-width: 800px) {
.grid-sizer,
.grid-item {
  width: 100%;


}
.navbar-toggle{
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}