@media (max-width: 800px) {


}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

  

body{
	font-family: Roboto,sans-serif;]

}


header{
	background-color: #eee;
}

.logo{
	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-clip: content-box;	
	display: block;
	width: 160px;
	height: 75px;
	text-indent: -12000px;
}


.mais-lances{
	background-color: #FF5800;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	display: inline-block;
	padding: 10px;
	margin-left: 20px
	}
.menu-top{
	margin-top: 25px;
}

.menu-top, .menu-principal{
	color: #666666;
}

/* conteudo */

#banner-home{
	background: linear-gradient(141deg, #323232 0%, #000 51%, #323232 75%);
	height: 400px;	
	border: 0px solid #222;
}

#carousel{
	height: 400px;
}
	#carousel .carousel-caption{
		position: static;
	}
	#carousel .carousel-control.left,
	#carousel .carousel-control.right{
		background: none;
	}
	#carousel .container{
		margin-top: 90px;
}

#produto-destaque{
	min-height: 250px;
	border-right: 1px solid #ddd;

}


#maior-desconto{
	min-height: 265px;
	border: 0px solid #222;
}



#aviso-legal{
	padding: 20px;
	

}



.leilao{
text-align:center;
	min-height: 350px;
	text-align: center;
	padding-bottom: 20px;
	border:1px solid #ccc;
	min-height: 550px;

}
.leilao:nth-child(odd) {
	

}
.leilao a{ text-decoration: none; }
.leilao h3{  }
.leilao span{
	display: block;color:#666666; 
}
.leilao .de{ font-size:15px; color:#666666; font-weight: bold; }
.leilao .por{ font-size: 18px; color: #FE893D; font-weight: bold;}
.leilao .cronometro{ font-size: 20px; font-weight: bold; }
.leilao .imagem-leilao{margin-bottom:10px;}
.leilao .nome-leilao{font-weight: bold;}


.lance{width: 100%;}

.destaque{
	text-align: left;
}
.destaque h3{font-size: 30px;}
.destaque .de{ font-size: 22px; color:#666666; font-weight: bold; }
.destaque .por{ font-size: 24px; color: #FE893D; font-weight: bold;}
.destaque .cronometro{ font-size: 30px; font-weight: bold; }
.destaque .imagem-leilao{margin-bottom:10px;}
.destaque .nome-leilao{font-weight: bold;}

#maior-desconto {
	text-align: left;
}
#maior-desconto span{
	
	display: block;color:#666666; 

}
#maior-desconto h3{font-size: 26px;}
#maior-desconto .de{ font-size: 14px; color:#666666; font-weight: bold; }
#maior-desconto .por{ font-size: 14px; color: #FE893D; font-weight: bold;}
#maior-desconto .economia{ font-size: 14px; color:#666666; font-weight: bold; }

#maior-desconto .desconto{ font-size: 90px; font-weight: bold; 
	#maior-desconto .desconto span{ font-size: 40px; font-weight: bold; }
#maior-desconto .imagem-leilao{margin-bottom:10px;}
#maior-desconto .nome-vendido{font-weight: bold;}

.full-bar{

    color: #fff;
    background: linear-gradient(270deg,#febb52,#ff5800,#febb52,#ff5800);
    background-size: 800% 800%;
    animation: backgroundTransition 20s ease infinite;
    padding:5px 0 15px;


}



/* footer ---- */
footer{



footer{
	min-height: 250px;
}


